<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    <style>
        .wrapperdiv{
            width: 970px;
            margin: 0px auto;
            text-align: center;

        }
        .divtime {

            border: 2px solid black;
        }

        p{
            
        border: 2px solid black;
        font-size: 30px;
        }

    </style>
</head>
<body>
 <div class="wrapperdiv">
    <div class="divtime">
        <h1>The Current Time and Date</h1>
    </div>
    <div>
        <p>{{time}}</p>
    </div>
</div>
</body>
</html>